/**********************************
Upgrade International Theme
* Filename:		upgrade.css   
* Current colors:
* Light-tone:		#d4fca9
* Mid-tone:			#A5FCA9
* Text-(dark)-tone:	#69ab6c
**********************************/

/*-----------------------------
General 
-----------------------------*/

body {
	background: #f3f3f3 url(images/bg_tile.gif) repeat-y center;
	color: #444;
	margin: 0;
	padding: 0;
	text-align: center;
}

a, a:hover, .meta a:hover, .edit-link a:hover  {
	color: #69ab6c;
}

a:hover{
	background-color: #fff;
	text-decoration: underline;
}

.aside a:active, .aside a:hover {
	color: #909090;
}

#wrapper{
	text-align: left;
	margin: 0 auto;
	width: 950px;
}

#main {
    overflow: visible;
    width: 940px;
    padding: 0;
}

/*-----------------------------
Header Background
-----------------------------*/


#map {
	height: 330px;
	width: 100%;
	position: absolute;
	top:0;
	text-align: left;
	left: 0;
}

h1{
	text-align: left;
	margin: 0;
}

h1 a{
	color: #000;
	text-decoration: none;
}

h1 a:hover{
	width:395px;
	color: #000;
	text-decoration: none;
	background: url(images/bg_tile.gif) repeat-y;
}

h1 a img {
	float: left;
	margin: 0 5px 0 -4px;
}

h1 a span {
	float:left;
	font-size:25px;
	font-weight:bold;
	padding-top:5px;
}

.page-title {
	font-size:18px;
	line-height:18px;
	padding: 4px 0 4px 40px;
	background:#CCCCCC;
	color:#555555;
	max-width: 430px;
}

.page-title span {
	font-style: normal;
	width: auto;
}

#gmap{
	height: 330px;
}

#stripe{
	position: absolute;
	top: 312px;
	width: 100%;
	height: 6px;
	border-top: 6px solid #d4fca9;
	background: #a5fca9;
	border-bottom: 6px solid #bec1c2;
	opacity: 0.9;
	z-index: 0;
}

/*-----------------------------
Header
-----------------------------*/


#access {
	display: none;
}

#branding {
	width: 950px;
	margin-top: -30px;
	padding: 0;
}

/*
#blog-title {
	background:transparent url(images/upgrade_title.png) no-repeat scroll 0 0;
	float: left;
	margin-top: 2px;
}
*/

#blog-title a {
	color:#000000;
	font-size: 28px;
	text-decoration:none;
	text-align: left;
	/*margin-left: 138px;*/
}

#blog-title a:active, #blog-title a:hover {
	width:395px;
	color: #000000;
	text-decoration: none;
	background: url(images/bg_tile.gif) repeat-y;
}

#header{
	margin-top: 300px;
}

#feed{
	float: right;
	margin-top:-330px;
	margin-right:-5px;
}

 
#searchform {
	float: right;
	margin-top: -326px;
	margin-right: 40px;
	z-index: 100;
}

#searchform input#s{
	width: 177px;
	height: 15px;
	padding: 3px 3px 3px 10px;
	background: url(images/search_box.png);
	border: none;
	margin: 0;
	float: left;
}

#searchsubmit{
	width: 24px;
	height: 21px;
	background: url(images/search_btn.png);
	border: none;
	float: left;
	text-indent: -3000px;
}

#searchsubmit:hover {
	background: url(images/search_btn.png);
	background-position: -24px 0;
}

/*
div#right-col h2.page-title{
	padding-left: 40px;
	font-size: 20px;
	background:#D4FCA9;
	color:rgba(0, 0, 0, 0.8);
	display: inline;
	padding-right: 5px;
	margin-top: 10px;
}

div#right-col h2.page-title span{
	font-weight: bold;
}

div#right-col h2.page-title a{
	color:rgba(0, 0, 0, 0.8);
}
*/

/*-----------------------------
Post
-----------------------------*/


.post{
	width: 510px;
}

#content {
    margin: 0;
    overflow: visible;
    width:510px;
}

#container {
    margin: 0;
    margin-top: -289px;
    width: auto;
    margin-right: -5px;
    background: url(images/container-bg.png) no-repeat;
    min-height: 700px;s
}

#nav-above{
	display: none;
}

#container div.post-content{
	padding: 10px 0;
	border-bottom: 2px dotted #bebebe;
	min-height:257px;
	text-align: left;
}

#container div.post span.cat-links a{
	padding: 1px 3px 1px 40px;
	background: #bebebe;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	text-decoration: none;
}

#container div.post span.edit-link a{
	padding: 0 3px;
}

#container div.post span.event-time{
	padding: 1px 5px 2px 40px;
	background: #A5FCA9;
	color:rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 12px;
}

#container div.post span.event-loc{
	padding: 1px 5px 1px 40px;
	background: #d4fca9;
	color:rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 12px;
}

#container div.post div.tag-links{
	padding-left: 40px;
	background: url(images/tag_title_bg.png) repeat-y  -110px -3px;
	/*float: left;*/
	margin: 10px 40px 0 0;
}

#container div.post span.tag-container{
	padding: 3px 7px 2px 5px;
	background: #fff url(images/tag_bg.png) repeat-x right bottom;
	color: #909090;
	font-size: 11px;
	float: left;
	margin-bottom: 3px;
}

#container div.post span.tag-container a.global-tag{
	height: 14px;
	width: 14px;
	background: url(images/global_tag.png) no-repeat;
	/* display: block; */
	display: none; /* hiding this until the right functionality is in place */
	margin-right: 5px;
}

#container div.post span.tag-container a.global-tag:hover{
	background-image: url(images/global_tag-hover.png);
}

#container div.post span.tag-container a{
	float: left;
	color: #909090;
	text-decoration: none;
	line-height:14px;
}

#container div.post span.tag-container a:hover{
	color: #666;
}

#container h2 a, div#container h2  {
	font-weight: bold;
	color: #000;
	text-decoration: none;
	font-size: 20px;
	margin: 0;
}

#container div.heading {
	margin: 8px 10px 0 40px;
}

#container div.entry-content{
	clear: both;
	padding:10px 40px 0;
}

#container div.entry-content a.more-link{
	display: block;
	float: right;
	margin: 20px -40px 20px 0;
	background:#A5FCA9 none repeat scroll 0 0;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration: none;
	padding: 0px 40px 0px 3px;
}

#container div.entry-content a.more-link:hover{
	background-color: #69AB6C;
	color:#FFFFFF;
}

/*-----------------------------
Post
-----------------------------*/


div.entry-meta{
	text-align: center;
	background: #a5fca9;
	color: rgba(0,0,0,0.2);
	font-size: 10px;
	font-weight: bold;
	line-height: 10px;
	width: 24px;
	padding: 0 3px 3px;
}

div.entry-meta a.btn-up{
	background: url(images/button_up.png) no-repeat;
	width: 20px;
	height: 20px;
	display: none;
	margin:0 auto;
}

div.entry-meta a.btn-down{
	background: url(images/button_down.png) no-repeat;
	width: 20px;
	height: 20px;
	display: none;
	margin:0 auto;
}

div.entry-meta span.permalink a{
	background: url(images/permalink-icon.png) no-repeat;
	padding: 3px 0 0;
	width: 20px;
	height: 17px;
	display: block;
	margin:3px auto 0;
}

div.entry-meta span.comments-link a{
	background: url(images/comments-icon.png) no-repeat;
	padding: 3px 0 0;
	width: 20px;
	height: 17px;
	display: block;
	margin:5px auto 0;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none
}

div.entry-meta span.comments-link a:hover{
	color: #fff;
}

div.entry-meta span a:hover{
	background-position: right;
}

div.entry-meta a.author-img img{
	border: 2px solid rgba(0,0,0,0.2);
	margin: 5px 0 0;
	text-decoration: none;
	width: 20px;
	height: 20px;
}

div.entry-meta a.author-img:hover img {
	border: 2px solid #a5fca9;
	background: none;
	text-decoration: none;
	margin: -10px 0 -3px -10px;
	width: 40px;
	height: 40px;	
}

div.entry-meta span.day{
	font-size: 20px;
	line-height: 20px;
}

div.entry-meta span.month{
	text-transform: uppercase;
}

#nav-above, #nav-below {
	width:470px;
	text-decoration: none;
}

div#nav-below {
	clear:both;
	padding: 10px 0;
}

.navigation a{
	background: #bbb;
	padding: 0 3px;
	color: #fff;
	display: block;
	text-decoration: none;
	font-style: normal;
	height: 1.5em;
}

.navigation a:active, .navigation a:hover{
	font-style: normal;
	color: #fff;
}

div.navigation div{
	width: 45%;
}

div.nav-previous{
	margin-right: 5%;
}

div.nav-next{
	padding-left: 5%;
}

/*-----------------------------
Page
-----------------------------*/

body.page div.post-content{
	float: none;
}

/*-----------------------------
Comments
-----------------------------*/

#comments{
	margin: -40px 40px;
}

textarea#comment {
	width: 383px;
}

#comments ol{
	margin:0 40px  1.5em 0;
}

#comments ol li{
	list-style: none;
}

#comments ol li ol li{
	list-style: decimal;
}

#comments ol ol{
	margin:0 1.5em 1.5em;
}

#comments-list .comment-author {
	margin: -40px 0 5px -60px;
	padding: 0 0 0 40px;
	background:#d4fca9 none repeat scroll 0 0;
	height: 24px;
}

/*
.comment-author{
	margin: 0 0 0 -40px;
	background:#d4fca9 none repeat scroll 0 0;
	height: 24px;
}
*/

.comment-author img {
	margin: -42px -50px;
}

#comments-list li .avatar {
	height:20px;
	width:21px;
	float: left;
}

.comment-author span{
	float: left;
	padding: 2px 4px 0 0;
}

div.comment-body{
	clear: both;
}

#respond {
	padding: 0;
}

#login {
	margin: -20px 0 0 0;
}

#comments-list .comment-meta {
	color:#666666;
	font-size:10px;
	padding: 0;
	margin-top: -38px;
	padding-right: 5px;
	float: right;
}

#comments-list li.bypostauthor {
	background: none;
}

.form-submit {
	text-align: left;
}

#comments-list li {
	border: none;
	background: none;
}

#comments-list ol {
	border: none;
}

.comment-content {
	padding-bottom: 15px;
	border: none;
	margin-left: -20px;
}

#form-allowed-tags {
	display: none;
}

/*-----------------------------
Sidebar
-----------------------------*/

.aside td,
.aside th {
	padding: 2px;
}

.aside ul li {
	list-style: none;
}

.aside ul ul ul li {
	margin-top: 3px;
}

.main-aside ul {
	padding: 0;
}

.aside a {
	text-decoration: none;
	padding: 3px 0;
	
}

/*-----------------------------
Calendar
-----------------------------*/

div#wp-calendar{
	font-size: 0.9em;
	line-height: 1.9em;
	/* padding: 0 10px; */
	width: 180px;
}

div#wp-calendar table{
	margin: -5px 0 10px 0;
}

div#wp-calendar table th{
	background: none;
	border-bottom: solid 1px #f3f3f3;
}

div#wp-calendar table td{
	border-bottom: solid 1px #f3f3f3;
}

div#wp-calendar table td#today{
	border-width: 0 0 2px 0;
	font-weight: bold;
}

div#wp-calendar caption{
	font-weight: bold;
	text-align: center;
	background: none;
	padding-bottom:13px;
	margin-top: -10px;
}

div#wp-calendar table td:hover{
	border-width: 0 0 2px 0;
	font-weight: bold;
}

div#wp-calendar table td.ec3_eventday{
	border-width: 0 0 1px;
	border-color: #800;
	padding: 1px 0 0;
}

div#wp-calendar table td.ec3_eventday:hover{
	border-width:0 0 4px;
	line-height:1.2em;
	/*padding:4px 0 0;*/
}

div#wp-calendar table td.ec3_eventday a{
	display: block;
	border-bottom: 1px solid;
}

div#wp-calendar table.nav{
	margin-bottom: 1.4em;
	padding:5px;
	line-height: 0.4em;
}

div#wp-calendar table.nav #next,
div#wp-calendar table.nav #prev{
	font-weight: bold;
}

/*-----------------------------
Tag Cloud
-----------------------------*/

.widget_tag_cloud a {
	background:#FFFFFF url(images/tag-widget_bg.png) repeat scroll left bottom;
	/*border-bottom:1px solid #C5C4C4;*/
	color:#909090;
	float:left;
	line-height:16px;
	margin-bottom:3px;
	padding: 5px 4px 6px 8px;
}


/*-----------------------------
Network feed
-----------------------------*/

.widget_netfeed li div.net_wrap,
.widget_netfeed li a{
	display: block;
	border-width: 0 2px;
	border-style: solid;
	font-size: 0.95em;
	margin: 0 5px;
}

#secondary .widget_netfeed li,
#primary .widget_netfeed li{
	border-bottom: 2px dotted #BEBEBE !important;
	padding-bottom: 0.5em;
	margin: 0 0 0.5em;
}

.widget_netfeed li a{
	padding: 0 10px;
	background: #f6f6f6;
	margin: 0;
}

.widget_netfeed li div.net_wrap:hover{
	border-width: 0 4px;
}

.widget_netfeed div:hover a{
	border-width: 0 5px;
	padding: 0 5px;
	background: #fff;
}

.widget_netfeed li a span{
	font-weight: bold;
}

div.sidebar li.widget_netfeed ul{
	margin: 0;
}

/*-----------------------------
Upcoming Events
-----------------------------*/

ul.ec3_events li.ec3_list{
	padding: 0 10px;
	color: inherit;
}

ul.ec3_events li.ec3_list ul{
	margin: 0;
}

ul.ec3_events li.ec3_list ul li{
	list-style: none;
}

#upgrade-network-feed ul {
	width: 190px;
	margin-left: -4px;
}

/*-----------------------------
For RTL Languages
-----------------------------*/

body.dir-rtl{
	direction: ltr;
}

body.dir-rtl div#content,
body.dir-rtl div.sidebars{
	direction: rtl;
	text-align: right;
}

body.dir-rtl div#right-col h2.page-title{
	float:right;
	margin-right:40px;
	margin-top:10px;
	padding-left:5px;
	padding-right:40px;
}

body.dir-rtl div#container div.post span.cat-links a{
	float: right;
	padding:1px 40px 1px 3px;
}

body.dir-rtl div#container div.post span.event-time,
body.dir-rtl div#container div.post span.event-loc{
	padding: 1px 40px 1px 5px;
}

body.dir-rtl div#container div.post div.tag-links{
	float:right;
	margin:10px 0 0 40px;
	padding-right:40px;
	background-position:390px -3px;
}

body.dir-rtl div#container div.post span.tag-container{
	float: right;
	background-position: left bottom;
}

body.dir-rtl div#container div.entry-content a.more-link {
	float:left;
	margin:10px 0px 0 -40px;
	padding:0 3px 0 40px;
}

body.dir-rtl ul.qtrans_language_chooser{
	float: left;
}

body.dir-rtl ul.qtrans_language_chooser li {
	float: left;
}

body.dir-rtl li#pages li.page_item ul {
	margin-right:16px;
	margin-left: 0;
}

/*-----------------------------
Language picker
-----------------------------*/
div.post-content:hover ul.qtrans_language_chooser{
	display: block;
}

ul.qtrans_language_chooser{
	float: right;
	list-style: none;
	padding: 0;
	margin: 3px 0;
	display: none;
}

ul.qtrans_language_chooser li {
	padding: 3px;
	float: right;
	background: #ddd;
}

ul.qtrans_language_chooser li:hover {
	background: #fff;
}

/*-----------------------------
Other
-----------------------------*/

.archive-meta{
	clear:both;
	padding:10px 80px 0 40px;
}

.author_gravatar{
	float: left;
	margin: 5px 10px 4px 0;
}

.feedcontent {
	/*border-bottom: 2px dotted #BEBEBE !important;*/
	font-size:12px;
	margin-left:-25px;
	padding: 4px 5px;
	width:180px;
}
.feedcontent li{
	border-width: 4px 0 0 0;
	border-style: solid;
}

.feedcontent a:hover{
	background-color: transparent;
}

.nodename {
	font-weight: bold;
	text-transform: capitalize;
}

.wrap {
	border-top: 2px solid;
	background-color: #F3F3F3;
	padding-bottom: 3px;
}

.wrap:hover{
	background-color: #FFFFFF;
}

/*
.feedcontent li:hover {
	border-width: 6px 0 0 0;
}

.wrap:hover{
	border-top: 3px solid;
	background-color: #FFFFFF;
}
*/

/*-----------------------------
Footer
-----------------------------*/

#siteinfo{
	width: 470px;
	text-align: center;
	margin-left: 440px;
	padding-top: 50px;
}

#footer {
	border: none;
}

/*
#footer div.footer-wrap{
	margin-left: 590px;
	font-size:0.9em;
}
*/

/*-----------------------------
Sidebars
-----------------------------*/

#primary {
	float: right;
	margin-right: 45px;
	width: 190px;
	border: none;
}

#secondary {
	width: 190px;
	float: right;
	margin-right: 10px;
}

.aside h3{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F3F3F3 none repeat scroll 0 0;
	color:#666666;
	font-size:1.1em;
	margin:5px -5px 1em;
	padding: 1px 5px;
	width: 180px;
	font-style: normal;
}

li#upgrade-international{
	margin: 0 8px 10px;
	font-size: 1.1em;
}

li#upgrade-international a{
	text-align: center;
	display: block;
}

li#organized{
	margin: 0 8px;
}

li#organized li{
	text-align: center;
}


li.page_item{
	margin-bottom: 1px;
	margin-left: -5px;
}

li.page_item a{
	background: #bdbebf;
	padding: 2px 8px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 9pt;
}

li.page_item a:hover{
	background: #959595;
	color: #fff;
}

li.page_item li a{
	background: #f3f3f3;
	padding: 2px 4px;
	color: #959595;
	font-weight: normal;
}

li#pages li.page_item ul{
	margin-left: 16px;
}

li.page_item li a:hover{
	color: #666;
	background: #f3f3f3;
}

/*
div.sidebar ul li#pages ul {
	margin:0 ;
}

div.sidebar ul li#pages ul ul {
	margin:0 0 0 0.5em;
}

div.sidebars li.page_item, li.page_item ul li{
	margin: 3px 0 0;
	list-style-type:none;
}
*/

#lang_sel {
	margin: 11px 0 -43px 480px;
	width:200px;
}
/*
#lang_sel_footer {
	border:medium none;
	margin:-40px 0 30px 680px;
	width:453px;
}
*/